h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}
p, ul{
    font-family: 'Open-Sans', sans-serif;
    color: darkblue;
}

body{
    color: darkblue;
    margin: 10px 50px 10px;
    background-color: ivory;
    
}

img{
    float: left;
    margin-right: 10px;
}
.inline-img img{
    max-width: 100%;
    height: auto;
    vertical-align: auto;
}
#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#navbar li {
    display: inline;
}
#navbar a {
    margin-left: 75px;
    margin-right: 75px;
}

.left{
    float: left;
    width: 300px;
    padding: 0px;
}

.right{
    float: right;
    width: 300px;
    padding: 0px;

}
.center{
    margin-left: 300px;
    margin-right: 300px;
    padding: 0px;
}

h1.fancy {
    font-family: 'Style Script'; 
    font-size: 50pt; 
    text-align: center;
    line-height: 135%;
}

h2.chapter {
    font-size: 30pt;
    text-align: center;
}

a.left {
    float: left;
    font-weight: bold;
}

a.right {
    float: right;
    font-weight: bold;
}

li {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Times New Roman';
    font-size: 24px;
}