h1, h2, h3 {
    font-family: 'Oswald';
}
p{
    font-family: 'Open-Sans', sans-serif;
    color: black;
}

body{
    color: darkblue;
    margin: 10px 50px 10px;
    background-color: ivory;
    
}


.inline-img img{
    max-width: 100%;
    height: auto;
    vertical-align: auto;
}

a.navbar-item {
    color: white;
    text-decoration: none;
    padding: 10px;
}

div.container-fluid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(31, 31, 31);
    padding: 10px;
}