p{
    font-family: 'Times New Roman', sans-serif;
    color: Black;
}
ul{
    font-family: 'Open-Sans', sans-serif;
    color: Black;
    list-style-type: none;
    padding: 0;
    line-height: 250%;
    font-size: 30px;
    font-weight: bold;
}

li {
    font-family: 'Times New Roman', sans-serif;
    color: Black;
}

body{
    color: Black;
    margin: 40px 320px 200px 250px;
    width: 475px;
    line-height: 175%;
    background-color: ivory;
    background-image: url('https://courses.ics.hawaii.edu/ics314f26/morea/ui-basics/page.gif');
    background-repeat: no-repeat;
    
}

img{
    float: left;
    margin-right: 10px;
    
}
.inline-img img{
    max-width: 100%;
    height: auto;
    vertical-align: auto;
}
#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#navbar li {
    display: inline;
}
#navbar a {
    margin-left: 75px;
    margin-right: 75px;
}


.center{
    margin-left: 300px;
    margin-right: 300px;
    padding: 0px;
}

h1.fancy {
    font-family: 'Pacifico'; 
    font-size: 50pt; 
    text-align: center;
    line-height: 135%;
}

h2.chapter {
    font-size: 30pt;
    text-align: center;
}

a.left {
    float: left;
    font-weight: bold;
}

a.right {
    float: right;
    font-weight: bold;
}
